@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap');
.navbar{display: flex;
    justify-content: space-between;text-align: center;}
    .micon h3{font-family: 'Oswald', sans-serif;}
    .mlogo{width: 33px;height:35px;padding-top: 15px;}
